h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 54px;
    text-align: center;
    // text-shadow: 0 1px 3px #555;
}

.el-center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.ab-title-center {
    padding-bottom: 8px;
    h1 {
        height: initial;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
}

.radius {
    border: #efefef 7px solid;
    border-radius: 20px;
    width: max-content;
    margin: auto;
    h1 {
        text-transform: uppercase;
        color: snow;
        margin: 20px;
    }
}

.container-flex {
    display: flex;
    margin: 10px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.item-flex {
    padding-top: 10px;
    margin: auto;
}

// chat
.chat {
    border: 1px solid black;
    display: grid;
    width: 1150px;
    height: 100%;
    margin: 30px auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 300px 150px;
    grid-template-areas: "l l c c c c c c c c c c" "l l c c c c c c c c c c" "l l m m m m m m m m m m";
    .chat-list {
        grid-area: l;
    }
    .conversation {
        grid-area: c;
    }
    .box-message {
        grid-area: m;
    }
}

// end chat
// book-card
.book-card-container {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: ". . p p p . i i i i . ." ". . p p p . i i i i . ." ". . d d d d d d d d . ." ". . c c c c c c c c . .";
    .book-card-img {
        grid-area: p;
        display: flex;
        justify-content: center;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .book-card-info {
        grid-area: i;
        background-color: aqua;
        span {
            display: block;
        }
    }
    .book-card-description {
        margin: 20px 0 0;
        min-height: 50px;
        background-color: #33b5e9;
        grid-area: d;
    }
    .book-comments {
        grid-area: c;
        border: #555 1px solid;
        margin: 10px 0 0 0;
        .b-comment {
            background-color: blanchedalmond;
            margin-bottom: 5px;
            .a-cont {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 10px 0 0 10px;
                color: cornflowerblue;
                 :last-child {
                    color: #555;
                    font-size: 13px;
                    padding-right: 10px;
                }
            }
            p {
                margin-bottom: 0px;
                padding: 0 0 10px 25px;
            }
        }
    }
}

.grdient-effect {
    background: linear-gradient(90deg, #6b6bcc 10%, #00c2e7 100%);
}

// end book-card
// imageUpload
.file-input-btn {
    display: block;
    cursor: pointer;
    background-color: white;
    width: 100px;
    text-align: center;
    padding: 9px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.fileInput {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.imgPreview {
    display: block;
    text-align: center;
    height: 250px;
    width: 210px;
    border: 1px solid;
    overflow: hidden;
}

.imgPreview>img {
    max-width: 100%;
    height: auto;
}

.previewText {
    width: 100%;
    margin-top: 20px;
}

.submitButton {
    padding: 12px;
    margin-left: 10px;
    background: white;
    border: 4px solid lightgray;
    border-radius: 15px;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer
}

.submitButton:hover {
    background: #efefef;
}

.centerText {
    text-align: center;
    width: 500px;
}

body {
    margin: 0px;
}

.book-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 988px;
    margin: auto;
}

.bookMiniCard {
    display: flex;
    flex-direction: column;
    width: 237px;
    margin: 5px;
    padding: 10px;
    font-family: "Roboto, Arial";
    border-radius: 15px !important;
}

.bookMiniCard:hover {
    cursor: pointer;
}

.bookMiniCard:hover>.bookMiniCard-title {
    text-decoration: underline;
}

.bookMiniCard-title {
    margin: 10px auto 0px;
    font-weight: 400;
    font-size: 16px;
    color: black;
    height: 34px;
}

.bookMiniCard-img {
    // width: 150px;
    // height: 185px;
    // background-color: blue;
    margin: 15px auto;
}

.bookMiniCard-desc {
    margin: 0px auto;
}

.page {
    display: grid;
    width: 1150px;
    margin: auto;
    // grid-row-gap: 15px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(11, 72px);
    // grid-template-areas: ". u" ". u" "n u" "b u";
    .book-wrapper {
        max-width: 830px;
    }
    .bookMiniCard {
        width: 265px
    }
    .bookMiniCard-img {
        // width: 125px;
        // height: 160px;
    }
}

.size-img-uploader {
    width: 210px;
}

.list-item-radius {
    border-radius: 15px !important;
}

.sm-img {
    display: flex;
    flex-basis: 50px;
    justify-content: center;
}

.view-books {
    grid-row: 2/span 9;
    grid-column: 2/span 13;
    width: 100%;
    margin: 0px auto; // box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.4);
}

.user {
    grid-row: 1/span 11;
    grid-column: 16/span 20;
    max-height: 40 0px; // margin: 5px 0 0;
    .user-container {
        display: flex;
        flex-direction: column;
        margin: 60px auto 0;
        width: 200px;
        .user-name {
            flex: auto;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            margin: 10px auto;
            text-transform: uppercase;
            color: white;
            font-size: 20px;
            font-weight: 700;
            padding: 10px 15px;
        }
        .user-ava {
            overflow: hidden;
            margin: 10px auto;
            img {
                width: 200px; // height: 200px;
                object-fit: cover; // border-radius: 120px;
            }
            div.ava {
                width: 200px;
                max-height: 200px;
                border-radius: 20px;
                overflow: hidden;
                margin: auto;
            }
        }
    }
}

.user-books {
    grid-row: 3/12;
    grid-column: 1/span 15;
    overflow: auto;
}

// toast override
#notification-wrapper {
    .toast-notification {
        span {
            display: inline-block !important;
            border-radius: 4px !important;
        }
    }
}

// image uploader for ava
.imgUploaderAva {
    .imgPreview {}
}

// scrolls
::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 10px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #ecedee
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: linear-gradient(110deg, #00c2e7 10%, #6b6bcc 100%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #56999f;
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

::-webkit-scrollbar {
    width: 15px;
}

// end scrolls
// spinner
.spinner-center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.orbit-spinner,
.orbit-spinner * {
    box-sizing: border-box;
}

.orbit-spinner {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    perspective: 800px;
}

.orbit-spinner .orbit {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.orbit-spinner .orbit:nth-child(1) {
    left: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-one-animation 1200ms linear infinite;
    border-bottom: 3px solid #33b5e9;
}

.orbit-spinner .orbit:nth-child(2) {
    right: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-two-animation 1200ms linear infinite;
    border-right: 3px solid #33b5e9;
}

.orbit-spinner .orbit:nth-child(3) {
    right: 0%;
    bottom: 0%;
    animation: orbit-spinner-orbit-three-animation 1200ms linear infinite;
    border-top: 3px solid #33b5e9;
}

@keyframes orbit-spinner-orbit-one-animation {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes orbit-spinner-orbit-two-animation {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes orbit-spinner-orbit-three-animation {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

// end spinner

/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    .page {
        width: 310px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(10, 55px);
        grid-gap: 5px;
    }
    .user {
        grid-column: 1/span 12;
        grid-row: 1/5;
        .user-container {
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 150px;
            .user-name {
                flex: auto;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                margin: 2px auto;
                text-transform: uppercase;
                color: white;
                font-size: 15px;
                font-weight: 700;
                padding: 5px 15px;
            }
            .user-ava {
                overflow: hidden;
                margin: 5px auto;
                img {
                    width: 120px; // height: 200px;
                    object-fit: cover; // border-radius: 120px;
                }
                div.ava {
                    width: 120px;
                    max-height: 120px;
                    border-radius: 20px;
                    overflow: hidden;
                    margin: auto;
                }
            }
        }
    }
    .view-books {
        grid-column: 1/span 12;
        grid-row: 5/6;
        .view-toolbar {
            height: 20px !important;
        }
    }
    .user-books {
        grid-column: 1/span 12;
        grid-row: 6/11;
    }
    .book-wrapper {
        padding: 0px;
        width: 320px !important;
        max-width: 480px;
        margin: auto;
        .bookMiniCard {
            margin: auto;
            width: 260px;
        }
    }
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
    /* Styles */
    .page {
        width: 470px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(13, 60px);
        .user {
            grid-column: 9/span 12;
            grid-row: 1/14;
            .user-container {
                display: flex;
                flex-direction: column;
                margin: 60px auto 0;
                width: 150px;
                .user-name {
                    flex: auto;
                    align-items: center;
                    justify-content: center;
                    border-radius: 20px;
                    margin: 10px auto;
                    text-transform: uppercase;
                    color: white;
                    font-size: 15px;
                    font-weight: 700;
                    padding: 10px 15px;
                }
                .user-ava {
                    overflow: hidden;
                    margin: 10px auto;
                    img {
                        width: 120px; // height: 200px;
                        object-fit: cover; // border-radius: 120px;
                    }
                    div.ava {
                        width: 120px;
                        max-height: 120px;
                        border-radius: 20px;
                        overflow: hidden;
                        margin: auto;
                    }
                }
            }
        }
        .view-books {
            grid-column: 1/span 7;
        }
        .user-books {
            grid-column: 1/span 8;
            grid-row: 3/14;
        }
    }
    .book-wrapper {
        padding: 0px;
        width: 480px !important;
        max-width: 768px;
        margin: auto;
        .bookMiniCard {
            width: 230px;
        }
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
    .page {
        width: 770px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(13, 60px);
    }
    .user {
        grid-column: 10/span 12;
        grid-row: 1/14;
        .user-container {
            display: flex;
            flex-direction: column;
            margin: 60px auto 0;
            width: 150px;
            .user-name {
                flex: auto;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                margin: 10px auto;
                text-transform: uppercase;
                color: white;
                font-size: 15px;
                font-weight: 700;
                padding: 10px 15px;
            }
            .user-ava {
                overflow: hidden;
                margin: 10px auto;
                img {
                    width: 150px; // height: 200px;
                    object-fit: cover; // border-radius: 120px;
                }
                div.ava {
                    width: 150px;
                    max-height: 150px;
                    border-radius: 20px;
                    overflow: hidden;
                    margin: auto;
                }
            }
        }
    }
    .view-books {
        grid-column: 2/span 7;
    }
    .user-books {
        grid-column: 1/span 9;
        grid-row: 3/14;
    }
    .book-wrapper {
        width: 760px;
    }
}


/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}


/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
    // .page {
    //     width: 600px;
    // }
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1024px) and (max-width:1324px) {
    /* Styles */
    .view-toolbar {
        max-width: 1024px;
    }
    .page {
        width: 1000px;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(13, 60px);
    }
    .user {
        grid-column: 13/span 16;
        grid-row: 1/14;
        .user-container {
            display: flex;
            flex-direction: column;
            margin: 60px auto 0;
            width: 200px;
            .user-name {
                flex: auto;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                margin: 10px auto;
                text-transform: uppercase;
                color: white;
                font-size: 18px;
                font-weight: 700;
                padding: 10px 15px;
            }
            .user-ava {
                overflow: hidden;
                margin: 10px auto;
                img {
                    width: 200px; // height: 200px;
                    object-fit: cover; // border-radius: 120px;
                }
                div.ava {
                    width: 200px;
                    max-height: 200px;
                    border-radius: 20px;
                    overflow: hidden;
                    margin: auto;
                }
            }
        }
    }
    .view-books {
        grid-column: 2/span 10;
    }
    .user-books {
        grid-column: 1/span 12;
        grid-row: 3/14;
        .bookMiniCard {
            width: 230px;
        }
    }
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}


/* iPhone 4 ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}